.footer {
  font-size: 0.75rem;
  padding: 1rem;
  background-color: var(--dark-bg);
  border-top: 1px solid var(--border);
  text-align: center;
}

.paragraph {
  margin-bottom: 0.5rem;
}

.link {
  text-decoration: underline dotted;
}

.link:hover {
  color: var(--brand);
  text-decoration-color: var(--brand);
}
