.header {
  border-bottom: 1px solid var(--border);
}

.outer {
  padding: 0.5rem 0;
  background: var(--brand);
  color: white;
}

.subheadingOuter {
  background: var(--dark-bg);
  padding: 0.25rem 0;
}

.inner {
  width: 100%;
  margin: 0  var(--page-margin);
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.link {
  vertical-align: middle;
}
