.outer {
  padding: 0.5rem var(--page-margin);
  background: var(--brand);
  color: white;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.link {
  vertical-align: middle;
}

.link:hover {
  text-decoration: underline;
}
