.newTable {
  width: 100%;
}

.difficulty {
  padding: 0.25rem;
  font-size: 0.875rem;
  color: white;
  white-space: nowrap;
}

.difficulty:hover {
  opacity: 0.7;
}

.beginner {
  background-color: var(--beginner-bg);
}

.basic {
  background-color: var(--basic-bg);
}

.difficult {
  background-color: var(--difficult-bg);
}

.expert {
  background-color: var(--expert-bg);
}

.challenge {
  background-color: var(--challenge-bg);
}

.edit {
  background-color: var(--edit-bg);
}

.newTable > * > tr > td {
  padding: 0.25rem;
}

.newTable > * > tr > td > button:hover {
  opacity: 0.7;
}

.newTable > thead > tr {
  background-color: var(--inverted-bg);
  color: white;
}

.newTable > tbody > tr:nth-child(odd) {
  background-color: var(--inverted-fg);
}

.newTable > tbody > tr:nth-child(even) {
  background-color: var(--dark-bg);
}

.sortValue {
  padding: 0.125rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.title {
  text-decoration: underline dotted currentColor;
  word-break: break-all;
}

.title:hover {
  color: var(--brand);
}

.chartCount {
  margin: 1.5rem 0;
}
