.newTable {
  width: 100%;
}

.difficulty {
  padding: 0.25rem;
  font-size: 0.875rem;
  color: white;
  white-space: nowrap;
}

.beginner {
  background-color: #00b0c6;
}

.basic {
  background-color: #d68b00;
}

.difficult {
  background-color: #ce1a87;
}

.expert {
  background-color: #58bc10;
}

.challenge {
  background-color: #7d72fe;
}

.edit {
  background-color: #888;
}

.newTable > * > tr > td {
  padding: 0.25rem;
}

.newTable > thead > tr {
  background-color: #666;
  color: white;
}

.newTable > tbody > tr {
  cursor: pointer;
}

.newTable > tbody > tr:nth-child(odd) {
  background-color: white;
}

.newTable > tbody > tr:nth-child(even) {
  background-color: #eee;
}

.newTable > tbody > tr:hover {
  background-color: #ea06;
}

.newTable > tbody > tr:active {
  background-color: #ea08;
}

.sortValue {
  padding: 0.125rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.title {
  word-break: break-all;
}
