.breadcrumb {
  display: flex;
  flex-direction: row;
}

.breadcrumbEntry {
    @apply text-focal-700;
}

.breadcrumbEntry::after {
    content: '/';
    display: inline-block;
    font-weight: bold;
    margin: 0 0.5rem;
    color: var(--color-focal-400);
}

.breadcrumbEntryLink:hover {
  text-decoration: underline;
}

.breadcrumbEntry:last-child::after {
  content: ''
}
