.breadcrumb {
  display: flex;
  flex-direction: row;
}

.breadcrumbEntry::after {
    content: '/';
    display: inline-block;
    margin: 0 0.5rem;
}

.breadcrumbEntryLink:hover {
  color: var(--brand);
  text-decoration: underline;
  text-decoration-color: var(--brand);
}

.breadcrumbEntry:last-child::after {
  content: '';
}
