.filterContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem 2rem;
  border: 1px solid var(--border);
  background: var(--dark-bg);
}

.input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.input:hover {
  border-color: var(--brand);
}
