.card {
  display: block;
  border: 1px solid;
  border-radius: 16px;
  padding: 16px;
}

.card:hover {
  box-shadow: 0 0 5px #0001;
  border-color: #ea0;
  background: #ea02;
}

.songCount {
  text-align: right;
}
