.h2 {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  gap: 2rem;
}

.card {
  display: block;
  border: 1px solid;
  border-radius: 16px;
  padding: 16px;
}

.card:hover {
  border-color: var(--brand);
  background: var(--hover-bg);
}

.card:active {
  background: var(--active-bg);
}

.songCount {
  text-align: right;
}
