@import './theme';

@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  @include common-theme;
  @include light-theme;

  --banner-width: 256px;
  --banner-height: 80px;
}

body {
  @apply text-black bg-gradient-to-r from-white to-gray-100;
}


@media (prefers-color-scheme: light) {
  body {
    @apply text-black bg-gradient-to-r from-white to-gray-100;
  }

  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-white bg-gradient-to-r from-gray-800 to-gray-700;
  }

  :root {
    @include dark-theme;
  }
}

:root {
  --brand:         #eeaa00;

  --border:        #00000040;

  --dark-bg:       #0000000a;
  --inverted-bg:   #00000080;
  --inverted-fg:   white;
  --hover-bg:      #eeaa0055;
  --active-bg:     #eeaa0077;

  --beginner-bg:   #00b0c6;
  --basic-bg:      #d68b00;
  --difficult-bg:  #ce1a87;
  --expert-bg:     #58bc10;
  --challenge-bg:  #7d72fe;
  --edit-bg:       #888888;

  --page-margin: 4vw;
}
